body {
    background-color: #DDDDDF;
}

header {
    width: 100%;
    height: 60px !important;
}

/* Form **********************/

.arrow {
    margin-top: -6px;
    line-height: 0;
    font-size: 48px;
}

select {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

input[type=number] {
    border-top: 0 !important;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.unitSymbol {
    border-top: 0 !important;
    border-bottom-right-radius: 0.2em !important;
}

/* Hide number input arrows */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* *********************** */